table.ui.definition.table
  thead
    tr
      th
      th Gained
      th Missed
      th Encashed
  tbody
    tr
      td Sea
      td= Math.floor(Math.random() * (15 - 1300) + 1300)
      td= Math.floor(Math.random() * (15 - 1300) + 1300)
      td= Math.floor(Math.random() * (15 - 1300) + 1300)
    tr
      td Rail
      td= Math.floor(Math.random() * (15 - 1300) + 1300)
      td= Math.floor(Math.random() * (15 - 1300) + 1300)
      td= Math.floor(Math.random() * (15 - 1300) + 1300)
    tr
      td Road
      td= Math.floor(Math.random() * (15 - 1300) + 1300)
      td= Math.floor(Math.random() * (15 - 1300) + 1300)
      td= Math.floor(Math.random() * (15 - 1300) + 1300)
    tr
      td Inland waterways
      td= Math.floor(Math.random() * (15 - 1300) + 1300)
      td= Math.floor(Math.random() * (15 - 1300) + 1300)
      td= Math.floor(Math.random() * (15 - 1300) + 1300)
