extends layout

block content
  div.ui.text.container
    form.ui.form(id="settings-form")
      h4.ui.dividing.header Blockchain Points Allocation
      div.field
        label= "Source"
        input(type="text", name="source", id="source", placeholder="Source", value="")
      div.field
        label= "Destination"
        input(type="text", name="destination", id="destination", placeholder="Destination", value="")
      div.field
        label= "Inter Modal Transport Type"
        input(type="text", name="intermodaltransporttype", id="intermodaltransporttype", placeholder="Inter Modal Transport Type", value="")
      div.field
        label= "Cargo Category"
        input(type="text", name="cargocategory", id="cargocategory", placeholder="Cargo Category", value="")
      div.field
        label= "Forward/Reverse Route"
        input(type="text", name="forwardreverseroute", id="forwardreverseroute", placeholder="Forward/Reverse Route", value="")
      div.field
        label= "Number of Cartons Shipped"
        input(type="text", name="cartonsshipped", id="cartonsshipped", placeholder="Number of Cartons Shipped", value="")
      div.field
        label= "Date"
        input(type="text", name="date", id="date", placeholder="Date", value="")
      input.ui.button(type="button", name="submit", id="submit",value="Submit")

