extends layout

block content
  div.ui.container
    h1= title
    p Completely disintermediate market-driven
    div.ui.divider
    a.ui.basic.button(href="/shipments/create") Add New
    table.ui.celled.table
      thead
        tr
          th #
          th Shipper ID
          th Shipper Name
          th Client ID
          th Client Name
          th Action
      tbody
        if(typeof data.row != 'undefined')
          each row, key in data.row
            tr
              td= row.id
              td= row.shipperId
              td= row.shipperName
              td= row.clientId
              td= row.clientName
              td
                a.ui.button(href="/shipments/#{row.id}") View
