extends layout

block content
  div.ui.container
    h1= title
    div.ui.grid
      div.six.wide.column
        div.ui.segment
          h2= "Partners"
          div.ui.large.feed
            div.event
              div.label
                img(src="/images/nan.jpg")
              div.content
                div.summary= "Partner 1"
                  div.ui.teal.big.circular.label.right.floated= "1"
            div.event
              div.label
                img(src="/images/tom.jpg")
              div.content
                div.summary= "Partner 2"
                  div.ui.teal.big.circular.label.right.floated= "1"

      div.six.wide.column
        div.ui.segment
          h2= "Clients"
      div.four.wide.column
        div.ui.segment
          h2= "User"

    div.ui.segment
      h3= "Actions"
      button.ui.green.button(type="submit") Confirm Delivery
      button.ui.red.button(type="submit") Cancel
      button.ui.yellow.button(type="submit") Penalty
