extends layout

block content
  div.ui.container
    h1= title

    table.ui.definition.table
      tbody
        tr
          td= "Shipper Name"
          td= data.shipperName
        tr
          td= "Shipper ID"
          td= data.shipperId
        tr
          td= "Client Name"
          td= data.clientName
        tr
          td= "Client ID"
          td= data.clientId

    table.ui.definition.table
      thead
        tr
          th
          th Number of Cartons
          th Source
          th Destination
      tbody
        each val, key in data.cargoName
          tr
            td= val
            td= data.noCartons[key]
            td= data.source[key]
            td= data.destination[key]

    div.ui.segment
      a.ui.green.button(href="transport/"+data.id+"/create") + 3PL Logistics Provider
    table.ui.definition.table
      thead
        tr
          th
          th 3PL Logistics Provider
          th Cargo Item ID
          th Blockchain Points
      tbody
        each val, key in data.transport
          tr
            td= val.logisticsProvider
            td= val.logisticsProviderid
            td= val.cargoitemid
            td= val.blockchainpoints

    table.ui.definition.table
      thead
        tr
          th Route
          th Gained
          th Missed
          th Encashed
      </thead>



