extends layout

block content
  div.ui.container
    h1= title
    div.ui.grid
      div.six.wide.column
        div.ui.segment
          h2= "Partners"
          div.ui.large.feed
            each row in data.partners
              div.event
                div.label
                  img(src="#{users.partner[(parseInt(row) - 1)].image}")
                div.content
                  div.summary= users.partner[(parseInt(row) - 1)].name
                    div.ui.teal.big.circular.label.right.floated= data.partners_loyalty[(parseInt(row) - 1)]

      div.six.wide.column
        div.ui.segment
          h2= "Clients"
          div.ui.large.feed
            each row in data.clients
              div.event
                div.label
                  img(src="#{users.partner[(parseInt(row) - 1)].image}")
                div.content
                  div.summary= users.partner[(parseInt(row) - 1)].name
                    div.ui.teal.big.circular.label.right.floated= data.clients_loyalty[(parseInt(row) - 1)]
      div.four.wide.column
        div.ui.segment
          h2= "User"

    div.ui.segment
      h3= "Actions"
      button.ui.green.button(type="submit") Confirm Delivery
      button.ui.red.button(type="submit") Cancel
      button.ui.yellow.button(type="submit") Penalty
